In [9]:
!python --version

Python 3.12.0

In [15]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
age = input("Enter your age:")
city = input("Enter your city of residence:")

print("")
print("Hello,", first_name, last_name, "!")
print("")
print("Your profile:")
print("Age:", age)
print("City:", city)

Hello, Имя Фамилия !

Your profile:
Age: 35
City: Уфа

In [16]:
a = '3.14'
print(type(a))
# <class 'str'>

<class 'str'>

### Срезы

In [17]:
s = "Hello!"
print(s[2:])
# llo!

llo!

In [18]:
print(s[:4])
# Hell

Hell

In [19]:
print(s[::-1])
# !olleH

!olleH

In [21]:
print(s[::2])
# Hlo

Hlo

In [20]:
print(s[-1])
# !

print(s[-3:-1])
# lo

!
lo

Строки можно складывать друг с другом:

In [29]:
s = "Hel" + "lo!"
print(s)
# Hello!

Hello!

Также можно умножать строку на целое число. Оператор умножения строки на целое число указывает Python дублировать строку заданное числом количество раз:

In [ ]:
s = "Hello!"
print(s*3)
# Hello!Hello!Hello!

Hello!Hello!Hello!

Приведённые ниже методы позволяют привести все буквы к верхнему регистру (заглавным буквам) или к нижнему регистру (строчным буквам). Обратите внимание, что исходная строка не изменяется:

In [27]:
print(s.upper())
# HELLO!

print(s.lower())
# hello!

print(s)
# Hello!

HELLO!
hello!
Hello!

Ряд методов позволяет определить, состоит ли строка из цифр, букв или одновременно из букв и цифр:

In [ ]:
s = "Hello!"

print(s.isdigit()) # строка состоит только из цифр?
# False

print(s.isalpha()) # строка состоит только из букв?
# False

print(s.isalnum()) # строка состоит только из цифр и букв?
# False

False
False
False

Метод find(substr), определённый для строк, позволяет находить символы и подстроки:

In [30]:
print(s.find('e')) # возвращает индекс
# 1

print(s.find('o!')) # в случае подстроки возвращает индекс первого символа
# 4

1
4

In [31]:
print(s.find('l')) # встречается в индексах 2 и 3
# 2

2

Python и здесь предлагает удобный метод для реализации такой идеи — split():

In [33]:
colors = 'red blue green'
print(colors.split())
# ['red', 'blue', 'green']
print(colors.split()[1])
# blue

['red', 'blue', 'green']
blue

Работать со строкой в таком формате крайне неудобно. Чтобы разделить её на отдельные значения, воспользуемся опять же методом split(). На этот раз явно укажем, что разделитель — запятая:

In [34]:
animal = 'bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1'
print(animal.split(','))
# ['bear', '1', '0', '0', '1', '0', '0', '1', '1', '1', '1', '0', '0', '4', '0', '0', '1', '1']

['bear', '1', '0', '0', '1', '0', '0', '1', '1', '1', '1', '0', '0', '4', '0', '0', '1', '1']

Экранированные последовательности позволяют вставить символы, которые сложно ввести с клавиатуры. Ниже приведены несколько самых важных служебных символов и их назначений:

\n — символ переноса строки;
\t — символ горизонтальной табуляции;
\v — символ вертикальной табуляции.

In [35]:
poem = '''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth.'''

print(poem.split('\n'))


### ['Two roads diverged in a yellow wood,',
###  'And sorry I could not travel both',
###  'And be one traveler, long I stood',
### 'And looked down one as far as I could',
### 'To where it bent in the undergrowth.']

['Two roads diverged in a yellow wood,', 'And sorry I could not travel both', 'And be one traveler, long I stood', 'And looked down one as far as I could', 'To where it bent in the undergrowth.']

In [36]:
colors = 'red green blue'
colors_split = colors.split() # список цветов по отдельности
colors_joined = ' and '.join(colors_split) # объединение строк
print(colors_joined)
# red and green and blue

red and green and blue

### Задача
Задана переменная numbers, которая ссылается на некоторую строку, состоящую из чисел и пробелов. Пример такой строки:

numbers = '1 2 3 4 5 6 7'

Напишите программу, которая выводит построчно каждое число из строки numbers.

In [37]:
numbers = '1 2 3 4 5 6 7'
num_split = numbers.split()
num_join = '\n'.join(num_split)
print(num_join)

1
2
3
4
5
6
7

### Метод format()

In [39]:
cur_date = input('Enter date: ')
currency = input('Enter currency: ')
rate = 86.37
print('The', currency, 'currency rate on the date', cur_date,'is', rate)


print('The {} currency rate on the date {} is {}'.format(currency, cur_date, rate))

The EUR currency rate on the date 10.10.2010 is 86.37
The EUR currency rate on the date 10.10.2010 is 86.37

In [40]:
print('The {} currency rate on the date {} is {:.3f}'.format(currency, cur_date, rate))

The EUR currency rate on the date 10.10.2010 is 86.370

In [41]:
print('The {0} currency rate on the date {2} is {1}'.format(currency, rate, cur_date))

The EUR currency rate on the date 10.10.2010 is 86.37

### f-строки

In [42]:
print(f'The {currency} currency rate on the date {cur_date} is {rate}')
#The EUR currency rate on the date 20.06.2021 is 86.37
print(f'The {currency} currency rate on the date {cur_date} is {rate*1.2}')
#The EUR currency rate on the date 20.06.2021 is 103.644

The EUR currency rate on the date 10.10.2010 is 86.37
The EUR currency rate on the date 10.10.2010 is 103.644

In [43]:
print(f'The {currency} currency rate on the date {cur_date} is {rate:.3f}')
#The EUR currency rate on the date 20.06.2021 is 86.370

The EUR currency rate on the date 10.10.2010 is 86.370

### Оператор %

In [44]:
print('The %s currency rate on the date %s is %.2f' % (currency, cur_date, rate))
#The EUR currency rate on the date 20.06.2021 is 86.37

The EUR currency rate on the date 10.10.2010 is 86.37

### Задача
Пусть информация о пользователе нашего фитнес-приложения содержится в следующих переменных:

name — имя пользователя;
dayofweek — название дня недели.
Пример таких переменных:


name = 'John'

dayofweek = 'Friday'

Напишите программу, которая выводит на экран фразу в формате:

Hello, <name>! Today is <dayofweek>. Have a nice day!,

где вместо <name> и <dayofweek> подставляются значения соответствующих переменных.

In [45]:
name = 'John'
dayofweek = 'Friday'

print('Hello, {}! Today is {}. Have a nice day!'.format(name, dayofweek))

Hello, John! Today is Friday. Have a nice day!

### Преобразование строк в числа и наоборот

In [46]:
a = int(input())
print(a + 10)

12

In [47]:
b = float('125.13')
c = 18.9
print(b + c)
# 144.03

144.03

In [48]:
d = 12942021.24910
d_str = str(d)
print(d_str.split('.'))
# ['12942021', '2491']

['12942021', '2491']

In [50]:
advertisement = 'Refrigerator service life: 9 years 3 months'
advertisement_splited = advertisement.split()
year = advertisement_splited[3]
month = advertisement_splited[5]
service_life = int(year) * 12 + int(month)
print(service_life)

111

### Задание

В резюме соискатели указывают желаемую заработную плату. Пусть информация о ней находится в переменной salary в формате: '<заработная плата>  руб.'

Гарантируется, что структура текста не изменяется. Примеры возможных значений переменной:


salary = '29000 руб.'
salary = '35000 руб.'
salary = '128500 руб.'
Ваша задача — превратить строку с заработной платой и указанием валюты в численное представление заработной платы. Напишите программу, которая выполняет следующие действия:

разделяет строку salary на части (символ по которому стоит производить разбиение выберите самостоятельно);
сохраняет в переменную salary_number значение заработной платы, выраженной в тысячах рублей.
Например, если переменная salary задана следующим образом: salary = '128500 руб.', то в переменной salary_number должно содержаться число 128.5.

In [52]:
salary = '29000 руб.'
#salary = '35000 руб.'
#salary = '128500 руб.'


salary_number=float(int(salary.split()[0])/1000)
print(float(salary_number/1000))

0.029

### Задание

Теперь разберёмся с опытом работы.

Пусть текст с описанием опыта работы хранится в переменной experience и строится по такому шаблону: 'Work experience <количество месяцев> months'

Гарантируется, что структура текста не изменяется. Примеры возможных значений переменной:


experience = 'Work experience 202 months'
experience = 'Work experience 60 months'
experience = 'Work experience 3 months'
Ваша задача — разделить информацию об опыте работы на составляющие: количество полных лет опыта работы и количество месяцев опыта работы.

Напишите программу, которая выполняет следующие действия:

разделяет строку experience на части (символ, по которому стоит производить разбиение выберите самостоятельно);
сохраняет в переменную experience_year информацию о количестве полных лет опыта работы;
сохраняет в переменную experience_month информацию о количестве месяцев работы (в неполном году).
Например, если переменная experience задана следующим образом: experience = 'Work experience 202 months', то в переменных experience_year и experience_month должны содержаться целые числа 16 и 10 (из расчёта 16 * 12 + 10 = 202).

In [53]:
# Входные данные
experience = 'Work experience 202 months'

# Значения переменных:
# experience_year = 16
# experience_month = 10


experience_year=int(experience.split()[2])//12
experience_month=int(experience.split()[2])%12

print(experience_year)
print(experience_month)

16
10

### Задание

В каждом резюме обязательно заполняется графа «пол, возраст». Пусть информация о поле и возрасте хранится в переменной description и строится по такому шаблону (обратите внимание на пробелы слева и справа от запятой): '<Пол> , <возраст> year old , born on <дата рождения> , <год рождения>.'

Гарантируется, что структура текста не изменяется. Примеры возможных значений переменной:

description = 'Male , 39 years old , born on November 27 , 1979'
description = 'Woman , 36 years old , born on August 12 , 1982'
description = 'Male , 38 years old , born on June 25 , 1980'
Ваша задача — разделить информацию о поле и возрасте соискателя на компоненты. Напишите программу, которая выполняет следующие действия:

Разделяет строку description на части (символ или символы, по котором стоит производить разбиение, выберите самостоятельно) и сохраните результат в переменную description_split;
Сохраняет в переменную gender информацию о поле соискателя (приведённое к нижнему регистру);
Сохраняет в переменную age информацию о том, сколько полных лет соискателю;
Сохраняет в переменную year_of_birth информацию о годе рождения соискателя.
Например, если переменная example задана следующим образом: example = 'Male , 39 years old , born on November 27 , 1979', то в переменных gender, age и year_of_birth должны содержаться строки 'male', '39' и '1979' соответственно.

In [56]:
# Входные данные
description = 'Male , 39 years old , born on November 27 , 1979'

# Значения переменных:
# gender = 'male'
# age = '39'
# year_of_birth = '1979'


description_splited = description.split(' , ')
print(description_splited)
gender = description_splited[0].lower()
age = description_splited[1].split()[0]
year_of_birth = description_splited[3]
print(gender, age, year_of_birth )

['Male', '39 years old', 'born on November 27', '1979']
male 39 1979